


    body {height: 100%;
        background: linear-gradient( to right, blue 50%, #f9fbfc 50%) fixed;
    }


    ul {background-color: white;
        width: 400px;
        padding: 50px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        -webkit-perspective: 300px;
        perspective: 300px;
        margin-top: 10px;
    }

    input {margin: 0% 0% 0% 5%;
        font-size: 1.5em;
        font-family: Garamond;
        border: 2px solid blue;
        border-radius: 10px;
        margin-bottom: 10px;
        color: blue;
        text-align: center;
        display: inline-block;
    }

    input.index {margin: 0% 0% 0% 20%;
        font-size: 1.5em;
        font-family: Garamond;
        border: 2px solid blue;
        border-radius: 10px;
        margin-bottom: 10px;
        color: blue;
        text-align: center;
    }

    select {
        font-size: 1.4em;
        font-family: Garamond;
        border: 2px solid blue;
        border-radius: 10px;
        margin-bottom: 10px;
        color: black;
        text-align: center;
        float: right;
    }


    h1 {font-size: 2.2em;
        font-family: garamond;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        font-family: garamond;
        text-align: center;
    }

    p{
        font-size: 1.4em;
        font-family: Garamond;
    }

    p.mess{
        text-align: center;
        font-size: 2.2em;
    }

    ::placeholder {
      color: black;
      font-size: .9em;
    }
