
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Coin Toss Game: Partial Game Page</title>
    <script type="text/javascript">

        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
                return false;
            return true;
        }

    </script>
</head>

<body>

<!---
Here I want players to make a bet on which side of the coin (heads or tails) they think will appear
next. The player enters a monetary amountn the 'Please enter your bet' field and selects a side.
The current wealth, current round, number of heads, and number of tails update with each round.
The 'message flask' lets the player know the outcome of the previous round.
--->

    <ul>
        <h1>Game Statistics</h1>
        <p> <b>Current Wealth:</b> £{{current_wealth_flask}} </p>
        <p> <b>Current Round:</b> {{trial_flask}} </p>
        <p> <b>Number of Heads:</b> {{heads_counter_flask}} </p>
        <p> <b>Number of Tails:</b> {{tails_counter_flask}} </p>
        <p class="mess" style="color: {{ color_code }}">{{message_flask}}</p><br>
        <form action="/Partial_Game_Page" method="post">
        <input  name="amount_bet" placeholder="Please enter your bet" autocomplete="off" onkeypress="return isNumberKey(event)">
        <select name="side_bet" placeholder="Please pick a side" autocomplete="off" value= "">
            <option disabled hidden selected>Select side</option>
            <option value="h">Heads</option>
            <option value="t">Tails</option>
        </select>
        <input type="submit" value= "Place Bet" autocomplete="off" style="display: block; margin:0 auto; background-color: rgba(0, 0, 0, 0.1);">
    </form>
    </ul>
</body>
</html>
